<?xml version="1.0"?>
<launch>
    <!-- declare arg to be passed in -->
    <arg name="team_side" default="home" />
    <arg name="my_number" default="1" />
    <arg name="ally_number" default="2" />

    <!-- If not in sim_mode or competition_mode, then we are hw_testing -->
    <arg name="sim_mode" default="false" />
    <arg name="competition_mode" default="false" />

    <!-- using which side of the field we are on, determine the appropriate -->
    <!-- connections to the output of the vision system -->
    <arg name="other_side" value="away" if="$(eval team_side == 'home')" />
    <arg name="other_side" value="home" if="$(eval team_side == 'away')" />

    <!-- Decide what namespace game_state is in -->
    <arg name="game_state_topic" value="/game_state" if="$(eval sim_mode or competition_mode)" />
    <arg name="game_state_topic" value="/teamparker_testing/game_state" unless="$(eval sim_mode or competition_mode)" />
    
    <!-- Hardware agnostic code -->
    <node name="ai" pkg="teamparker" type="ai_node.py" output="screen">

        <!-- Use the arg 'game_state_topic' to make sure -->
        <!-- we are listening to the right game_state -->
        <remap from="game_state" to="$(arg game_state_topic)" />

        <remap from="me" to="/vision/$(arg team_side)$(arg my_number)" />
        <remap from="ally" to="/vision/$(arg team_side)$(arg ally_number)" />
        <remap from="opp1" to="/vision/$(arg other_side)1" />
        <remap from="opp2" to="/vision/$(arg other_side)2" />
        <remap from="ball" to="/vision/ball" />
    </node>
    <node name="controller" pkg="teamparker" type="controller_node.py" output="screen">
        <!-- The controller needs to know which vision msg to listen to -->
        <remap from="me" to="/vision/$(arg team_side)$(arg my_number)" />
        <!-- For simulation, remap the output -->
        <remap from="vel_cmds" to="/$(arg team_side)$(arg my_number)/command" />
    </node>

    <!-- Hardware dependent code (only use if sim_mode == false) -->
    <group unless="$(arg sim_mode)">
        <node name="motion" pkg="teamparker" type="motion.py" output="screen" />
    </group>

</launch>